$gray-dark: #4f555d;
$gray-medium: #c4c4c4;
$gray-light: #f5f5f5;

$black: #000000;
$white: #ffffff;

$yellow-100: #f2c500;
$yellow-60: #f8de8d;
$yellow-10: #fdf6dc;

$brown-light-100: #b68652;
$brown-light-60: #d6b692;
$brown-light-10: #f3ece0;

$brown-dark-100: #482200;
$brown-dark-60: #7f5939;
$brown-dark-10: #efe1d0;

$brown-medium-100: #785b56;
$brown-medium-60: #b69e97;
$brown-medium-10: #f2e9e5;

$negative-100: #d73f3f;
$negative-60: #ea9b9b;
$negative-10: #f9eaea;

$positive-100: #2d8537;
$positive-60: #94c298;
$positive-10: #e8f2ea;

$blue-100: #0000ff;
$blue-50: #0056a6;

$border-light: #e5e0d8;
$border-extra-light: #ececec;

$shadow-light: rgba(0, 0, 0, 0.05);
$shadow-medium: rgba(0, 0, 0, 0.08);

$font-figtree: "Figtree", sans-serif;
$font-poppins: "Poppins", sans-serif;