@use "../abstracts" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}

body {
  position: relative;
  overflow-x: hidden;
  font-family: $font-poppins;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background: $gray-light;
  width: 100%;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button,
input,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
  border: 0;
  background: none;
}

ul,
ol {
  list-style: none;
}

.container {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

[class*="__inner"],
[class*="__wrapper"],
.row,
.flex {
  max-width: 100%;
}